/*Material Icons hosteado */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
}


/* Fondo con gradiente */
body {
    margin: 0; /* Aseguramos que no haya márgenes en el body */
    font-family: Arial, sans-serif;
}

.background-container {
    position: fixed; /* Fija el fondo en toda la página */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #e0e0e0, #f4f4f4); /* Gradiente */
    z-index: 1; /* Asegura que esté detrás de otros elementos */
}

/* Logo */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 10%;
    left: 0;
    padding: 20px 0;
    z-index: 2; /* Asegura que esté por encima del fondo */
}

.logo {
    width: 80px;
    height: auto;
}

/* Contenedor del login */
.login-container {
    width: 90%;
    max-width: 380px;
    text-align: center;
    margin-top: 300px; /* Ajusta el margen para que no se superponga con el logo */
    position: relative; /* Asegura que esté por encima del fondo */
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
}

/* Contenedor para el register */
.register-container {
    width: 90%;
    max-width: 380px;
    text-align: left;
    margin-top: 200px; /* Ajusta el margen para que no se superponga con el logo */
    position: relative; /* Asegura que esté por encima del fondo */
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
}
.register-container h2{
    font-size: 1em;
    margin-bottom: 20px;
    color : #333
    

}

/* Campos de entrada pruebaa git */
.input-field {

    background-color: #252525;
    border-radius: 4px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
    height: 50px;
}

.input-field input {
    border: none;
    background: none;
    outline: none;
    color: white;
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.input-field input::placeholder {
    color: #b0b0b0;
    font-size: 16px;
}

/* Icono de visibilidad en el campo de contraseña */
.password-field {
    position: relative;
}

.password-field .material-icons {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #b0b0b0;
    cursor: pointer;
    font-size: 24px;
}

/* Botones */
.btn-custom {
    background-color: #252525;
    color: white;
    border-radius: 30px;
    width: 100%; /* Asegura que ambos tengan el mismo ancho */
    margin-top: 15px;
    padding: 15px;
    font-size: 18px;
    text-transform: none;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.btn-custom:hover {
    background-color: #1b1b1b;
}

/* Espaciado entre botones */
.btn-custom + .btn-custom {
    margin-top: 15px;
}

/* Estilos para el formulario de recuperación */
#reset-form {
    display: none; /* Inicialmente oculto */
    position: relative;
    z-index: 3; /* Mayor que el login-container (z-index:2) */
    width: 90%;
    max-width: 380px;
    margin: 20px auto;
    background-color:linear-gradient(to bottom, #e0e0e0, #f4f4f4);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Opcional: darle estilo a los enlaces y botones internos del reset-form */
#reset-form .btn-custom {
    margin-top: 15px;
}
#reset-form .input-field {
    background-color: #252525; 
}
